<div class="container-fluid">

  <div class="text">
    <h1 style=" margin-top: 25px;"><strong style="font-size: 75px;">404</strong><br>Not found</h1>
    <br>
    <h3>La página que intentas solicitar no está en el servidor</h3>
    <br>
    <h4>Prueba ir a <a href="https://emanuelcacheda.herokuapp.com/#/"><strong>emanuelcacheda.herokuapp.com</strong></a>
    </h4>

    <img src="../../../assets/imgs/babyyoda-min.png" style="margin-top: 1rem;margin-left: 0 px;" class="" alt="">
  </div>

</div>
