<footer>
  <a class="btn btn-sm btn-fb" id="btn-linkedin" target="_blank" href="https://ar.linkedin.com/in/emanuelcacheda"><i
      class="fab fa-linkedin fa-3x "></i></a>
  <p>Bueno, si llegaste hasta acá probablemente quieras tener contacto conmigo. Para ello te dejo mi <a
      href="https://ar.linkedin.com/in/emanuelcacheda" class="footer-a" target="_blank">linkedin</a> y
    mi <a target="_blank" class="footer-a" href="mailto:emanuelcachedacontacto@gmail.com">e-mail</a>. <br>¡Gracias por
    visitar mi página!</p>
  <a href="mailto:emanuelcacheda@hotmail.com" target="_blank" class="btn btn-sm btn-fb" id="btn-email"><i
      class="fas fa-envelope fa-3x"></i></a>
</footer>
