<div class="main-contact">
  <h1 class="title-contact">Contacto</h1>
  <h2 class="subtitle-contact">Podes contactarme por redes sociales, e-mail o desde la misma página web</h2>
</div>

<div class="form-div" id="contact-form">

  <form [formGroup]='contactForm' (ngSubmit)='addQuery(contactForm)'>

    <div class="form-group">
      <label for="name" class="labels">Nombre:</label>
      <input type="text" class="form-control" id="inputName" placeholder=" Nombre" name="name" formControlName="name">

      <div class="error">
        <p *ngIf="contactForm.get('name').hasError('required') && contactForm.get('name').touched">*El nombre es
          obligatorio</p>
        <p *ngIf="contactForm.get('name').hasError('minlength') && contactForm.get('name').touched">*Nombre no válido
        </p>
        <p *ngIf="contactForm.get('name').hasError('maxlength') && contactForm.get('name').touched">*Nombre no válido
        </p>
      </div>
    </div>


    <div class="form-group">

      <label for="lastname" class="labels">Apellido:</label>
      <input type="text" class="form-control" id="inputLastname" placeholder=" Apellido" name="lastname"
        formControlName="lastname">

      <div class="error">
        <p *ngIf="contactForm.get('lastname').hasError('required') && contactForm.get('lastname').touched">*El apellido
          es obligatorio</p>
        <p *ngIf="contactForm.get('lastname').hasError('minlength') && contactForm.get('lastname').touched">*Apellido no
          válido</p>
        <p *ngIf="contactForm.get('lastname').hasError('maxlength') && contactForm.get('lastname').touched">*Apellido no
          válido</p>
      </div>
    </div>

    <div class="form-group">

      <label for="email" class="labels">Email:</label>
      <input type="email" class="form-control" id="inputEmail" placeholder=" Email" name="email"
        formControlName="email">

      <div class="error">
        <p *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">*El email es
          obligatorio</p>
        <p *ngIf="contactForm.get('email').hasError('maxlength') && contactForm.get('email').touched">*Máximo 50
          caracteres</p>
        <p *ngIf="contactForm.get('email').hasError('email') && contactForm.get('email').touched">*Email no válido</p>
      </div>

    </div>

    <div class="form-group">

      <label for="title" class="labels">Asunto:</label>
      <input type="email" class="form-control" placeholder=" Asunto" name="title" formControlName="title">

      <div class="error">
        <p *ngIf="contactForm.get('title').hasError('minlength') && contactForm.get('title').touched">*Asunto no válido
        </p>
        <p *ngIf="contactForm.get('title').hasError('required') && contactForm.get('title').touched">*El asunto es
          obligatorio</p>
        <p *ngIf="contactForm.get('title').hasError('maxlength') && contactForm.get('title').touched">*Máximo 50
          caracteres</p>
      </div>

    </div>

    <div class="form-group">

      <label for="message" class="labels">Mensaje:</label>
      <textarea class="form-control" id="message" rows="7" name="message" formControlName="message"></textarea>

    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="submit-form" [disabled]="contactForm.invalid">Enviar</button>
    </div>


  </form>
</div>
