<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand " href="https://emanuelcacheda.herokuapp.com/#/admin">
    <img src="../../../assets/imgs/2x/baseline_api_black_18dp.png" width="30" height="30"
      class="d-inline-block align-top" alt="">
    Admin Page
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto bg-primary">
      <li class="nav-item">
        <a class="nav-link active" (click)='auth.logout()'>Cerrar Sesión<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!--
        <form class="form-inline my-2 my-lg-0" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" type="search" >
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
  </div>
</nav>

<div class="container">

  <h1>Consultas</h1>

  <div class="card" *ngFor="let query of queryService.queries">
    <div class="card-body">
      <h5 class="card-title " style="text-align: center ;"><strong>Consulta</strong></h5>
      <div *ngIf="!query.show">

        <p class="card-text">Name: {{query.name}}</p>
        <hr>
        <p class="card-text">Lastname: {{query.lastname}}</p>
        <hr>
        <p class="card-text">Email: {{query.email}}</p>
        <hr>

      </div>
      <p class="card-text">Title: {{query.title}}</p>
      <hr>
      <p class="card-text" *ngIf="query.show">Message: {{query.message}}</p>

      <button type="submit" *ngIf="!query.show" class="btn btn-primary" (click)="showMessage(query)">Show
        message</button>
      <button type="submit" *ngIf="query.show" class="btn btn-primary" (click)="noMessage(query)">Hide message</button>
      <button type="submit" style="margin-left : 6rem" class="btn btn-danger btn-delete"
        (click)="deleteQuery(query._id)">Delete</button>

    </div>
  </div>

</div>
