html {
    font-size: 1rem;
}

h1{
    margin-top: 2%;
    text-align: center;
}
.card{
   width: 22rem; 
   float: left;
   margin-left: 0.5rem;
   margin-top: 3rem;
   max-width: inherit;
   margin-right: 0;
}

@media(max-width:400px){
    .card{
        margin-left: 0rem;
        width: 21rem;
    }
    .btn-delete{
        margin-left: 0px;
        float: right;
        padding-left: 4px;
        padding-right: 4px;
    }
}

